<!DOCTYPE html>
<html lang=“en”>
<head>
    <meta charset=“UTF-8">
    <meta name=“viewport” content=“width=device-width, initial-scale=1.0">
    <link rel=“stylesheet” href=“/styles/style.css”>
    <title>Main</title>
</head>
<body>
    <%- include('../public/runTimeScripts/theme.ejs') %>
    <%- include(‘./partials/nav.ejs’) %>
    <article>
        <section>
            <ul>
                <li><a href=“#section1”> About FiTrack</a></li>
                <li><a href=“#section2">Benefits</a></li>
                <li><a href=“#section3”>Security Assurance</a></li>
                <li><a href=“#section4"> Resources  </a></li>
                <li><a href=“#section5”>  Community and Support </a></li>
                <li><a href=“#section6">  Meet the Team </a></li>
            </ul>
         </section>
        <h1 id=“section1”> About FiTrack</h1>
        <br>
        <p>Empowering individuals to achieve optimal health and well-being through balanced nutrition and effective macro tracking. We are dedicated to providing
            a user-friendly platform that enables our users to make informed choices about their dietary habits, reach their fitness goals, and embrace a sustainable
            and healthy lifestyle. By offering a diverse range of delicious and nutritious recipes, coupled with intuitive macro tracking tools, we aim to inspire and
            support our users on their journey towards better health. We are committed to fostering a community that shares knowledge, encourages progress, and celebrates
             the joy of nourishing both body and mind</p>
        <br>
        <h1 id=“section2"> Benefits</h1>
        <br>
        <p>Accurate and Reliable Macronutrient Tracking: FiTrack will provide users with precise and up-to-date information about the macronutrient composition of specific
            food items. This accuracy ensures that users can confidently track their macronutrient intake and make informed dietary decisions.</p>
            <br>
        <p>Convenience and Ease of Use: With FiTrack, users can simply type in a food item and instantly access its macronutrient information. The app’s user-friendly interface
             makes it easy for individuals to incorporate macronutrient tracking into their daily routine, saving time and effort.</p>
        <br>
             <p> Personalized Nutrition Management: FiTrack will allow users to set personalized nutrition goals based on their individual needs, such as weight management or specific
             dietary requirements. By tracking macronutrients, users can monitor their intake and make adjustments to achieve their desired outcomes.</p>
             <br>
             <p>Real-Time Updates: FiTrack provides real-time updates on food item data, ensuring that users have access to the latest and most accurate information. This feature helps
                individuals stay up-to-date with any changes or updates in macronutrient values.</p>
            <br>
            <p>By leveraging these benefits, FiTrack empowers users to take control of their nutrition, make informed choices, and work towards their health and fitness goals with confidence.</p>
            <br>
        <h1 id =“section3”> Security Assurance</h1>
        <br>
        <p>  Limited Data Sharing: FiTrack does not share personal user data with third parties without explicit consent. Any sharing of anonymized and aggregated data for research
            or analytical purposes is conducted in compliance with applicable laws and regulations. </p>
         <br>
         <h1 id=“section4">  Resources </h1>
         <br>
         <p>  We believe in empowering our users with knowledge. In addition to macronutrient tracking, FiTrack offers a wealth of educational resources, including articles, recipes,
            and tips from nutrition experts. Expand your understanding of nutrition and discover new ways to improve your dietary choices and well-being.</p>
            <br>
            <p>Here are some of our favorites: </p>
            <br>
              <ul class=“resources-list”>
                 <li><a href=“https://www.cdc.gov/nutrition/resources-publications/benefits-of-healthy-eating.html” target=“_blank”>Why eat healthy?</a></li>
                <li><a href=“https://www.who.int/news-room/fact-sheets/detail/healthy-diet” target=“_blank”>Facts on Healthy diets</a></li>
                <li><a href=“https://www.fda.gov/food/new-nutrition-facts-label/how-understand-and-use-nutrition-facts-label” target=“blank”>Understanding a Nutrition Label</a></li>
              </ul>
         <br>
         <h1 id=“section5"> Community and Support</h1>
         <br>
         <p> FiTrack is more than just an app; it’s a community of like-minded individuals on a journey towards better health. Connect with other users, share your progress, and find
            inspiration and support to stay motivated. Our dedicated support team is also available to assist you with any queries or concerns you may have along the way.</p>
          <br>
        <h1 id=“section6”>Meet The Team </h1>
        <br>
        <p> FiTrack is developed by a team of nutrition experts and software engineers who combine their knowledge to create an app that is not only user-friendly
            but also rooted in scientific principles. We bring together the best of nutrition science and technology to provide you with a reliable macronutrient tracking solution.</p>
<div class=“team-container”>
     <div classs=“card1”>
        <img src=“/images/aishah.jpg”>
     <h3>  Aishah Isom  </h3>
       <P>     </P>
    </div>
     <div class=“card2”>
        <img src=“/images/angel.jpg”>
        <h3>Angel Sanchez</h3>
        <p>       </p>
    </div>
    <div class=“card3”>
        <img src=“/images/jaz.jpg”>
        <h3>Jazmin Rosario</h3>
        <p>    </p>
    </div>
    <div class=“card4”>
        <img src=“/images/juan.jpg”>
        <h3>Juan Pardo</h3>
       <p>      </p>
    </div>
</div>
    <aside class=“newsletter”>
        <form action=“/subscribe” method=“post”>
            <img src=“/images/log.png”>
            <div class=“news-content”>
                <h2 class=“heading”> Subscribe to our newsletter</h2>
                 <div class=“input-fields”>
                    <input type=“text” name=“name” placeholder=“Enter your name”>
                    <input type=“text”  name=“email” placeholder=“Enter your email”>
                    <select name=“country” class=“dropdown”>
                        <option value> Select your country</option>
                        <option value>United States</option>
                        <option value>Canada</option>
                        <option value>Mexico</option>
                        <option value>France</option>
                        <option value>Germany</option>
                        <option value>Japan</option>
                        <option value>India</option>
                        <option value>Liberia</option>
                    </select>
                    <button type=“submit”>Submit</button>
                 </div>
            </div>
        </form>
    </aside>
    </article>
    <script src=“app.js”></script>
</body>
</html>