<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Main</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <article>
        <p></p>
        <h1>Create new account</h1>
        <div class="card">
           
            <div class="vertical">
          
            <form action="/create" method="post">
                <h2>Username</h2>
                <input type="text"  name="userName"  required>
                <h2>Password</h2>
                <input type="password"  name="password" required >
                <h2>Repeat Password</h2>
                <input type="password"  name="passwordrepeat" required>
                <h2>Name</h2>
                <input type="text"  name="name"  required>
                <h2>height</h2>
                <input type="number"  name="height" required>
                <h2>weight (Lb)</h2>
                <input type="number"  name="weight" required>
                <h2>Target Calories</h2>
                <input type="number"  name="target" required>
                <h2>Theme:</h2>
                <input type="radio" id="theme1" name="theme" value="watermelon"  class="noShow">
                <label for="theme1">watermelon</label><br>
                <input type="radio" id="theme2" name="theme" value="purple"  class="noShow">
                <label for="theme2">purple</label><br>  
                <input type="radio" id="theme3" name="theme" value="cyan"  class="noShow">
                <label for="theme3">cyan</label><br>
                <input type="radio" id="theme4" name="theme" value="lightBlue"  class="noShow">
                <label for="theme4">lightBlue</label><br>
                <input type="radio" id="theme5" name="theme" value="pumpking"  class="noShow">
                <label for="theme5">pumpking</label><br>
                <input type="radio" id="theme6" name="theme" value="mango"  class="noShow">
                <label for="theme6">mango</label><br>

                <input type="submit" value="Continue" class="add">
            
            </form>
            </div>
            

        </div>
    </article>
</body>

</html>