<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Main</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <article>
        
        <div class="card">
           
            <div class="vertical">
                <h1>ERROR 404:</h1>
                <p>The page Requested was not found</p>
            </div>
            

        </div>
    </article>
</body>
<style>
    article{
        display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    }
    

</style>
</html>